transit-search/example_data/hlsp_tess-spoc_tess_phot_0000000000021371-s0011_tess_v1_tp/hlsp_tess-spoc_tess_phot_0000000000021371-s0011_tess_v1_lc.fits
transit-search/example_data/hlsp_tess-spoc_tess_phot_0000000000021371-s0011_tess_v1_tp/hlsp_tess-spoc_tess_phot_0000000000021371-s0011_tess_v1_tp.fits
transit-search/example_data/hlsp_tess-spoc_tess_phot_0000000000021371-s0038_tess_v1_tp/hlsp_tess-spoc_tess_phot_0000000000021371-s0038_tess_v1_lc.fits
transit-search/example_data/hlsp_tess-spoc_tess_phot_0000000000021371-s0038_tess_v1_tp/hlsp_tess-spoc_tess_phot_0000000000021371-s0038_tess_v1_tp.fits
notes.md
.DS_Store
.gitignore
*.pyc
*.pickle
*.pdf
transit-search/injection/
hlsp*